<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h1 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">プロフィール編集</h1>
    <div class="mx-auto max-w-lg rounded-lg border">
    <div class="flex flex-col gap-4 p-4 md:p-8">
    
      <%= form_with model: @user, url: profile_path(@user), local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        
        <div>
          <%= f.label :avatar, class: "block text-sm font-bold mb-2" %>
          <div class="mt-2 flex justify-center">
            <%= image_tag current_user.avatar.present? ? current_user.avatar.url : 'avatar.jpg', class: 'mb-4 rounded-full w-24 h-24 object-cover' %>
          </div>
          <%= f.file_field :avatar, class: "block file-input file-input-bordered w-full max-w-xs", accept: 'image/jpeg,image/png,image/webp,image/heic' %>
          <%= f.hidden_field :avatar_cache %>
        </div>

        <div>
          <%= f.label :name, class: "mt-2 block text-sm font-bold mb-2" %>
          <%= f.text_field :name, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>

<%# ユーザーがGoogleアカウントでログインしているかどうかを確認 %>
<% is_google_account = @user.authentications.where(provider: 'google').exists? %>

<div>
  <%# ラベルのテキストを条件に応じて変更 %>
  <% if is_google_account %>
    <%= f.label :email, "メールアドレス（Googleアカウントと連携しているため変更できません）", class: "text-xs mt-2 block text-sm font-bold mb-2" %>
  <% else %>
    <%= f.label :email, class: "bg-gray-50mt-2 block text-sm font-bold mb-2" %>
  <% end %>

  <%# 入力フィールドにdaisyUIのスタイルを適用 %>
  <%= f.email_field :email, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring", disabled: is_google_account %>
</div>


        <div>
        <%= f.submit '更新', class: 'block w-full mt-4 btn btn-outline h-12 px-6' %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>

