<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <h1 class="title-font sm:text-4xl text-3xl mb-6 font-medium text-gray-900"><%= current_user.name %>さんのマイページ</h1>
    <% post_count = current_user.posts.select(:prefecture_id).distinct.count %>
    <!-- 色塗りマップ -->
    <%= render 'japanmap', user_prefectures: @user_prefectures, text: @text %>
    <h2 class="mt-4 text-xl"><%= "#{post_count} 都道府県を彩りました" %></h2>
<%= link_to "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode("#{post_count}/47都道府県彩りました")}&url=#{ERB::Util.url_encode(root_url(only_path: false))}&hashtags=PictoMemory", target: "_blank", rel: "noopener" do %>
  <i class="fa-brands fa-square-x-twitter fa-2x"></i>
<% end %>

  </div>
</section>





<div class="flex flex-col justify-center items-center">
  <div id="buttons"justify-self class="grid grid-cols-2 gap-4 mx-auto max-w-lg"> <!-- mx-auto max-w-lg rounded-lg border -->

    <%= link_to '投稿する', new_post_path, class: "btn btn-outline col-span-2 sm:col-span-1 max-w-xs" %>
    <%= link_to '他の人の投稿を見る', '/search', class: "btn btn-outline col-span-2 sm:col-span-1 max-w-xs" %>

    <%= link_to '準備中', '#', class: "btn btn-outline col-span-2 sm:col-span-1 max-w-xs", disabled: "disabled" %> 
    <%= link_to 'ブックマーク', bookmarks_posts_path, class: 'btn btn-outline col-span-2 sm:col-span-1 max-w-xs', role: "button" %>
<!-- -->
    <% post_count = current_user.posts.select(:prefecture_id).distinct.count %>

  </div>
</div>



<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8 text-center">
  
    <h2 id="recommend" class="mb-4 text-center text-2xl font-bold text-gray-800 lg:text-3xl"><%= current_user.name %>さんへのオススメ</h2>
    <!-- <%= link_to '更新', '/mypage#recommend', data: { turbo: true }, class: "mb-4 badge text-xs text-gray-500 hover:text-gray-700" %> -->
    <div class="grid gap-4 sm:grid-cols-3 lg:grid-cols-3 xl:gap-6">
    
      <!-- レコメンド1：投稿データのタグに基づいたレコメンド -->
      <div class="flex justify-center">
        <% if @tag_recommend.is_a?(String) %>
          <p><%= @tag_recommend %></p>
        <% elsif @tag_recommend.present? %>
          <%= link_to post_path(@tag_recommend), class: "group relative h-96 w-96 overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg" do %>
            <% image_url = @tag_recommend.images.first.url %>
            <%= image_tag(image_url, alt: "Recommended post image", class: 'h-full w-full object-cover object-center transition duration-200 group-hover:scale-110', loading: 'lazy') %>
          <% end %>
        <% else %>
          <p>投稿がありません</p>
        <% end %>
      </div>


      <!-- レコメンド2：プロフィールの居住都道府県に基づいたレコメンド -->
      <div class="flex justify-center">
        <% if @prefecture_recommend.is_a?(String) %>
          <p><%= @prefecture_recommend %></p>
        <% elsif @prefecture_recommend.present? %>
          <%= link_to post_path(@prefecture_recommend), class: "group relative h-96 w-96 overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg" do %>
            <% image_url = @prefecture_recommend.images.first.url %>
            <%= image_tag(image_url, alt: "Recommended prefecture post image", class: 'h-full w-full object-cover object-center transition duration-200 group-hover:scale-110', loading: 'lazy') %>
          <% end %>
        <% else %>
          <p>投稿がありません</p>
        <% end %>
      </div>


      <!-- レコメンド3：プロフィールの旅の嗜好に基づいたレコメンド -->
      <div class="flex justify-center">
        <% if @category_recommend.is_a?(String) %>
          <p><%= @category_recommend %></p>
        <% elsif @category_recommend.present? %>
          <%= link_to post_path(@category_recommend), class: "group relative h-96 w-96 overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg" do %>
            <% image_url = @category_recommend.images.first.url %>
            <%= image_tag(image_url, alt: "Recommended category post image", class: 'h-full w-full object-cover object-center transition duration-200 group-hover:scale-110', loading: 'lazy') %>
          <% end %>
        <% else %>
          <p>投稿がありません</p>
        <% end %>
      </div>
      
    </div>
  </div>
</div>


</div>
</div>


<div id="posts-list-section" class="bg-white py-6 sm:py-8 lg:py-12">
<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
  <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12"><%= current_user.name %>さんの投稿一覧</h2>

  <% if @posts.present? %>
    <div class="mb-4 grid grid-cols-1 gap-4 sm:grid-cols-3 md:mb-8 md:grid-cols-4 md:gap-6 xl:gap-8">
      <%= render partial: 'posts/post', collection: @posts, as: :post %>
    </div>
  <% else %>
    <div class="flex flex-col items-center justify-center">
      <div class="text-xl font-bold mb-4">まだ投稿していません！</div>
      <%= link_to '投稿する', new_post_path, class: "btn btn-outline  px-4 py-2 rounded font-bold" %>
    </div>
  <% end %>
</div>
</div>
<!-- bg-blue-100 hover:bg-blue-200 -->