<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">アカウント登録</h2>
    <%= form_with model: @user, local: true, class: "mx-auto max-w-lg rounded-lg border" do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <div>
          <%= f.label :name, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
          <%= f.text_field :name, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>
        <div>
          <%= f.label :email, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
          <%= f.email_field :email, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>
        <div>
          <%= f.label :password, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
          <%= f.password_field :password, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>
        <div>
          <%= f.label :password_confirmation, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
          <%= f.password_field :password_confirmation, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>
        <%= f.submit t('users.new.registration'), class: "block rounded-lg bg-gray-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-gray-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base" %>
      </div>
<!--  リンク用
      <div class="flex items-center justify-center bg-gray-100 p-4">
        <p class="text-center text-sm text-gray-500"><%= link_to "登録ページへ", new_user_path, class: "text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700" %></p>
      </div>
      <div class="flex items-center justify-center bg-gray-100 p-4">
        <p class="text-center text-sm text-gray-500"><%= link_to "パスワードをお忘れの方はこちら", '#', class: "text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700" %></p>
      </div>
    <% end %>
-->
  </div>
</div>

