<header class="text-gray-600 body-font bg-gray-100">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to root_path, class: "flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" do %>
      <%= image_tag 'logo.png', class: 'w-full h-auto rounded', style: 'max-width: 300px; max-height: 200px;' %>
    <% end %>
    <nav class="text-xs md:flex md:ml-auto flex-nowrap items-center justify-center">
      <%= link_to '探す', '/search', class: "mr-4 hover:text-gray-900" %>
      <%= link_to '新規登録', new_user_path, class: "mr-4 hover:text-gray-900" %>
      <%= link_to login_path, class: "text-xs inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" do %>
        ログイン
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      <% end %>
    </nav>
  </div>
</header>