<header class="text-gray-600 body-font bg-gray-100">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to root_path, class: "flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Travel_app</span>
    <% end %>
    <!-- Desktop Menu -->
    <nav class="hidden md:flex md:ml-auto flex-wrap items-center text-base justify-center">
      <%= link_to 'プロフィール', '#', class: "mr-5 hover:text-gray-900" %>
      <%= link_to 'マイページ', '/mypage', class: "mr-5 hover:text-gray-900" %>
      <%= link_to '投稿する', new_post_path, class: "mr-5 hover:text-gray-900" %>
      <%= link_to '探す', '/search', class: "mr-5 hover:text-gray-900" %>
      <%= link_to logout_path, data: { turbo_method: :delete }, class: "inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" do %>
        ログアウト
      <% end %>
    </nav>

    <div class="md:hidden">
      <div class="dropdown dropdown-bottom dropdown-end">
        <div tabindex="0" class="m-1">メニュー</div> <!-- Hidden Click Element -->
        <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to 'プロフィール', '#', class: "mr-5 hover:text-gray-900" %></li>
          <li><%= link_to 'マイページ', '/mypage' %></li>
          <li><%= link_to '投稿する', new_post_path %></li>
          <li><%= link_to '探す', '/search' %></li>
          <li>
            <%= link_to logout_path, data: { turbo_method: :delete }, class: "inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" do %>
            ログアウト
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>