<div class="mx-auto max-w-lg rounded-lg border">
<div class="flex flex-col gap-4 p-4 md:p-8">


<%= form_with model: post, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>


  <!-- 都道府県のプルダウンメニュー -->
<div>
  <%= f.label :prefecture_id, class: "mt-2 block text-sm font-bold mb-2" %>
  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択必須"}, {class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring"} %>
</div>

  <!-- 観光地名のテキストフィールド -->
  <div>
    <%= f.label :location, class: "mt-2 block text-sm font-bold mb-2" %>
    <%= f.text_field :location, placeholder: "例：地名・観光地名・店名など", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
    <div class="mt-2 text-xs">※地名と観光地に関連するキーワードを入れると自動で住所が取得できます。</div>
  </div>


  <!-- 画像選択 -->
  <div>
    <%= f.label :images, "画像を選択（最低1枚、最大4枚）*", class: "mt-2 block text-sm font-bold mb-2" %>
    <%= f.file_field :images, multiple: true, class: "mb-2block file-input file-input-bordered w-full max-w-xs", accept: 'image/jpeg,image/png,image/webp,image/heic' %>
    <!-- <%= f.hidden_field :images_cache %> -->
    <% if @post.new_record? %>
      <% @post.images.each do |image| %>
        <%= hidden_field :post, :images, multiple: true, value: image.cache_name %>
      <% end %>
    <% else %>
      <% @post.images.each do |image| %>
        <%= hidden_field :post, :images, multiple: true, value: image.identifier %>
      <% end %>
    <% end %>
  

    <% if @post.images? %>
      <div class="mb-4 flex flex-row space-x-4">
      <% @post.images.each do |image| %>
        <%= image_tag(image.url(), class: "mt-2 block h-15 w-20") %>
      <% end %>
      </div>
    <% end %>

  </div>

  <!-- 旅行の思い出 -->
  <div>
    <%= f.label :text, class: "mt-2 block text-sm font-bold mb-2" %>
    <%= f.text_area :text, rows: 3, placeholder: "旅の思い出やオススメポイントを自由に記入してください", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>

  <!-- 観光地の開催時期と公開設定 -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <%= f.label :event_status, class: "mt-2 block text-sm font-bold mb-2" %>
      <div class="mt-1 flex items-center">
        <%= f.radio_button :event_status, 'permanent', class: "radio", id: "block event_status_permanent", checked: true %>
        <%= f.label :event_status_permanent, '通年', class: "mr-4 ml-2 block text-sm font-medium text-gray-700" %>
        <%= f.radio_button :event_status, 'seasonal', class: "block radio", id: "event_status_seasonal" %>
        <%= f.label :event_status_seasonal, '期間限定', class: "ml-2 block text-sm font-medium text-gray-700" %>
      </div>

      <fieldset>
        <%= f.label :public_status, class: "mt-2 block text-sm font-bold mb-2" %>
        <div class="mt-1 flex items-center">
          <%= f.radio_button :public_status, 'open', id: 'public_status_open', class: "radio", checked: true %>
          <%= f.label :public_status_open, '公開', class: "mr-4 ml-2 block text-sm font-medium text-gray-700" %>
          <%= f.radio_button :public_status, 'closed', id: 'public_status_close', class: "radio" %>
          <%= f.label :public_status_close, '非公開', class: "ml-2 block text-sm font-medium text-gray-700" %>
        </div>
      </fieldset>
    </div>
  </div>

  <!-- タグ -->
  <div>
    <%= f.label :tag_names, "タグ（任意）", class: "mt-2 block text-sm font-bold mb-2" %>
    <%= f.text_field :tag_names, value: @post.tags.pluck(:name).join(", "), placeholder: ",で区切って5個まで入力できます", class: "mb-4 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>

  <!-- 送信ボタン -->
  <div>
    <%= f.submit "投稿する", class: "block w-full mt-4 btn btn-outline h-12 px-6" %>
  </div>
  </div>
<% end %>


</div>
