<div id="post-id-<%= post.id %>">
  <%= link_to post_path(id: post.id), data: { turbo: false }, class: "group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80" do %>
    <%= image_tag(post.images.first&.url || "sample.jpg", class: "absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110", loading: "lazy") %>

    <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>

    <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"><%= post.prefecture.name %></span>
    <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg"><%= post.location %></span>

  <% end %>
  <div class="flex">
  <!-- タグ 投稿一覧とブックマーク一覧を切り替え -->
  <% post.tags.each do |tag| %>
    <% if local_assigns[:context] == 'bookmarks' %>
      <%= link_to tag.name, bookmarks_posts_path(tag_name: tag.name), class: 'inline-block bg-gray-200 text-gray-700 text-xs font-semibold px-2 py-1 rounded mr-2' %>
    <% else %>
      <%= link_to tag.name, search_path(tag_name: tag.name) + '#posts-list-section', class: 'inline-block bg-gray-200 text-gray-700 text-xs font-semibold px-2 py-1 rounded mr-2' %>
    <% end %>
  <% end %>
  

  </div>
  <span><%= post.user.name %></span>

  <!-- bookmarks -->
  <% if current_user.bookmark?(post) %>
    <%= render 'unbookmark', post: post %>
  <% else %>
    <%= render 'bookmark', post: post %>
  <% end %>
</div>