<!-- レコメンド
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden">
        <div class="w-24 h-full bg-pink-500"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">レコメンドの提供</h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">ログイン後機能、MVP後の機能</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1203x503">
        </div>
        <a class="text-pink-500 inline-flex items-center mt-3">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
-->

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <!-- 色塗りマップ -->
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">条件検索</h1>
      <%= render 'users/japanmap', user_prefectures: @user_prefectures %>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
    
<%= search_form_for @q, url: "/search", class: "space-y-4", id: "search-form" do |f| %>
  <div class="flex flex-col gap-4 p-4 md:p-8">
    <!-- 都道府県による検索 -->
    <div>
      <%= f.label :prefecture_id_eq, "都道府県", class: "block mb-2 text-sm text-gray-800 sm:text-base" %>
      <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, { include_blank: '全件' }, { class: "block select select-bordered select-sm w-full max-w-xs" } %>
    </div>

    <!-- postsテーブルのlocationに対する検索 -->
    <div>
    <%= f.label :location_cont_any, "観光地名検索", class: "block mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :location_cont_any, placeholder: "キーワードを入力してください", class: "block input input-bordered input-sm w-full max-w-xs" %>
    </div>

    <!-- postsテーブルのtextに対する検索 -->
    <div>
    <%= f.label :text_cont_any, "本文検索", class: "block mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :text_cont_any, placeholder: "キーワードを入力してください", class: "block input input-bordered input-sm w-full max-w-xs" %>
    </div>

    <!-- tagsテーブルのnameに対する検索 -->
    <div>
    <%= f.label :tags_name_cont_any, "タグ", class: "block mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :tags_name_cont_any, placeholder: "タグを入力してください", class: "block input input-bordered input-sm w-full max-w-xs" %>
    </div>

    <!-- 通年開催の観光地・イベントに絞り込むチェックボックス -->
    <div>
      <%= f.check_box :event_status_eq, { class: "checkbox checkbox-primary" }, 'permanent', nil %>
      <%= f.label :event_status_eq, '通年開催の観光地・イベントに絞り込む', class: "ml-2 text-sm text-gray-800 sm:text-base" %>
    </div>

      <!-- Ransackの検索条件にはない独自のチェックボックス -->
  <div>
  <%= check_box_tag :exclude_unvisited_prefectures, "true", params[:exclude_unvisited_prefectures] == "true", class: "checkbox checkbox-primary" %>
  <%= label_tag :exclude_unvisited_prefectures, '未踏破の都道府県に絞り込む', class: "ml-2 text-sm text-gray-800 sm:text-base" %>
  </div>

    <!-- 検索ボタン -->
    <div>
      <%= f.submit "検索", class: "inline-flex text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded text-lg" %>
    </div>
 </div>
<% end %>
    </div>
  </div>
</section>

<div id="posts-list-section" class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div>
        <p>
          <label class="label cursor-pointer justify-end">
          ブックマーク
          <span class="mr-2"></span>
          <input type="checkbox" class="toggle" id="toggle-switch" data-action="change->toggle#switch">
        </label>
        </p>
      </div>
      <turbo-frame id="posts_frame">
        <%= render partial: "posts/posts_frame" %>
      </turbo-frame>
      <turbo-frame id="bookmarks_frame" src="/posts/bookmarks" style="display: none;">
        <%= render partial: "posts/bookmarks_frame", locals: { bookmark_posts: @bookmark_posts, context: @context } %>
      </turbo-frame>
  </div>
</div>

<script>
  document.addEventListener('turbo:load', () => {
    const toggleSwitch = document.getElementById('toggle-switch');
    
    toggleSwitch.addEventListener('change', () => {
      const postsFrame = document.getElementById('posts_frame');
      const bookmarksFrame = document.getElementById('bookmarks_frame');
if (toggleSwitch.checked) {
  postsFrame.style.display = 'none';
  bookmarksFrame.style.display = 'block';
  bookmarksFrame.src = '/posts/bookmarks'; // ブックマークのデータを再ロード
} else {
  postsFrame.style.display = 'block';
  bookmarksFrame.style.display = 'none';
}

    });
  });

document.addEventListener('submit', function(e) {
  var tagField = document.getElementById('tag_field');
  if (tagField) {
    var tags = tagField.value.split(/[\s,、]+/); // 半角/全角スペース、コンマで分割
    tagField.value = tags.join(' '); // 半角スペースで結合し直す
    }
  });

  // 最終手段
    //   <>
    // document.addEventListener('DOMContentLoaded', () => {
    //   const toggleSwitch = document.getElementById('toggle-switch');
      
    //   toggleSwitch.addEventListener('change', () => {
    //     if (toggleSwitch.checked) {
    //       Turbo.visit('/posts/bookmarks');
    //     } else {
    //       Turbo.visit('/search');
    //     }
    //   });
    // });

</script>


