<script>
  document.addEventListener('turbo:load', () => {
    const toggleSwitch = document.getElementById('toggle-switch');
    
    toggleSwitch.addEventListener('change', () => {
      const postsFrame = document.getElementById('posts_frame');
      const bookmarksFrame = document.getElementById('bookmarks_frame');
if (toggleSwitch.checked) {
  postsFrame.style.display = 'none';
  bookmarksFrame.style.display = 'block';
  bookmarksFrame.src = '/posts/bookmarks'; // ブックマークのデータを再ロード
} else {
  postsFrame.style.display = 'block';
  bookmarksFrame.style.display = 'none';
}

    });
  });

document.addEventListener('submit', function(e) {
  var tagField = document.getElementById('tag_field');
  if (tagField) {
    var tags = tagField.value.split(/[\s,、]+/); // 半角/全角スペース、コンマで分割
    tagField.value = tags.join(' '); // 半角スペースで結合し直す
    }
  });



document.addEventListener("turbo:load", function() {
  // 都道府県セレクトボックスの現在の値を取得
  var prefectureSelect = document.getElementById("prefecture-select");
  var prefectureId = prefectureSelect.value;
  var areaSelect = document.getElementById("area-select");

  // エリアのセレクトボックスを更新する関数
  function updateAreaSelect(prefectureId) {
    if(prefectureId) {
      fetch(`/prefectures/${prefectureId}/areas`)
        .then(response => response.json())
        .then(data => {
          areaSelect.innerHTML = '';
          var defaultOption = new Option('全件', '');
          areaSelect.appendChild(defaultOption);

          data.forEach(area => {
            var option = new Option(area.name, area.id);
            areaSelect.appendChild(option);
          });

          areaSelect.disabled = false;
        });
    } else {
      areaSelect.innerHTML = '';
      var defaultOption = new Option('選択してください', '');
      areaSelect.appendChild(defaultOption);
      areaSelect.disabled = true;
    }
  }

  // 都道府県セレクトボックスの変更イベントにリスナーを追加
  prefectureSelect.addEventListener("change", function() {
    updateAreaSelect(this.value);
  });

  // ページ読み込み時に都道府県が選択されている場合は、エリアセレクトボックスを更新
  if(prefectureId) {
    updateAreaSelect(prefectureId);
  }
});


document.addEventListener('turbo:load', () => {
  document.getElementById('toggle-switch').addEventListener('change', (event) => {
    let isChecked = event.target.checked;
    let frame = document.getElementById('japan_map');

    fetch(`/posts/toggle_partial?checked=${isChecked}`)
      .then(response => response.text())
      .then(html => frame.innerHTML = html);
  });
});

</script>

<!-- レコメンド
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden">
        <div class="w-24 h-full bg-pink-500"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">レコメンドの提供</h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">ログイン後機能、MVP後の機能</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1203x503">
        </div>
        <a class="text-pink-500 inline-flex items-center mt-3">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
-->

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
  <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">条件検索</h2>
<div class="container mx-auto flex px-5 py-10 md:flex-row flex-col items-center justify-center">
  <div class="lg:max-w-lg lg:w-1/2 md:w-1/2 w-full mb-10 md:mb-0">
    <!-- 自身の投稿とみんなの投稿切り替え -->
    <% if logged_in? %>
<label class="label cursor-pointer justify-end">
  色塗り切り替え
  <span class="mr-2"></span>
  <input type="checkbox" class="toggle" id="toggle-switch" data-action="change->toggle#switch">
</label>
  <% end %>
      <!-- 色塗りマップ -->
      <turbo-frame id="japan_map">
      <%= render 'users/japanmap', user_prefectures: @user_prefectures, text: @text %>
      </turbo-frame>
    </div>
    
    <!-- 検索セクション -->
<div class="flex flex-col gap-4 p-4 md:p-8 md:w-1/2 w-full">
    
<%= search_form_for @q, url: "/search", class: "space-y-4", id: "search-form" do |f| %>
  <div class="flex flex-col gap-4 p-4 md:p-8">
    <!-- 都道府県による検索 -->
    <div>
      <%= f.label :prefecture_id_eq, "都道府県", class: "mt-2 block text-sm font-bold mb-2" %>
      <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, { include_blank: '全件' }, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring", id: "prefecture-select" %>
    </div>

    <!-- エリアセレクトボックス -->
    <div>
      <%= f.label :area_id_eq, "エリア", class: "mt-2 block text-sm font-bold mb-2" %>
      <%= f.collection_select :area_id_eq, Area.none, :id, :name, { include_blank: '全件' }, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring", id: "area-select", disabled: true %>
    </div>

    <!-- postsテーブルのlocationに対する検索 -->
    <div>
    <%= f.label :location_cont_any, "観光地名検索", class: "mt-2 block text-sm font-bold mb-2" %>
    <%= f.text_field :location_cont_any, placeholder: "キーワードを入力してください", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
    </div>

    <!-- postsテーブルのtextに対する検索 -->
    <div>
    <%= f.label :text_cont_any, "本文検索", class: "mt-2 block text-sm font-bold mb-2" %>
    <%= f.text_field :text_cont_any, placeholder: "キーワードを入力してください", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
    </div>

    <!-- tagsテーブルのnameに対する検索 -->
    <div>
    <%= f.label :tags_name_cont_any, "タグ", class: "mt-2 block text-sm font-bold mb-2" %>
    <%= f.text_field :tags_name_cont_any, placeholder: "タグを入力してください", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
    </div>

    <!-- 通年開催の観光地・イベントに絞り込むチェックボックス -->
    <div class="">
    オプション項目
    </div>
    <div>
      <%= f.check_box :event_status_eq, { class: "checkbox checkbox-primary" }, 'permanent', nil %>
      <%= f.label :event_status_eq, '通年開催の観光地・イベントに絞り込む', class: "ml-2 text-sm text-gray-800 sm:text-base" %>
    </div>

    <!-- 未踏破の都道府県：Ransackの検索条件にはない独自のチェックボックス -->
    <% if logged_in? %>
      <div>
      <%= check_box_tag :exclude_unvisited_prefectures, "true", params[:exclude_unvisited_prefectures] == "true", class: "checkbox checkbox-primary" %>
      <%= label_tag :exclude_unvisited_prefectures, '未踏破の都道府県に絞り込む', class: "ml-2 text-sm text-gray-800 sm:text-base" %>
      </div>
    <% end %>

    <!-- 検索ボタン -->
    <div class="mx-auto">
      <%= f.submit "検索", class: "bg-pink-200 hover:bg-pink-400 block w-full mt-4 btn btn-outline h-12 px-6" %>
    </div>
 </div>
<% end %>
    </div>
  </div>
</div>

<div id="posts-list-section" class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div>
        <p>
          <label class="label cursor-pointer justify-end">
          <%= link_to 'ブックマークへ', bookmarks_posts_path, class: 'light:btn col-span-2 light:text-gray-800 sm:col-span-1', role: "button" %>
        </label>
        </p>
      </div>
<!--          ブックマーク切り替え
          <span class="mr-2"></span>
          <input type="checkbox" class="toggle" id="toggle-switch" data-action="change->toggle#switch">
 -->
<!--      <turbo-frame id="posts_frame"> -->
        <%= render partial: "posts/posts_frame" %>
<!--      </turbo-frame> -->
<!--      // <turbo-frame id="bookmarks_frame" src="/posts/bookmarks" style="display: none;">
      //   <%= render partial: "posts/bookmarks_frame", locals: { bookmark_posts: @bookmark_posts, context: @context } %>
      // </turbo-frame> -->
  </div>
</div>
</div>

