<!DOCTYPE html>
<html>
  <head>
    <title>PictoMemory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/8050981de6.js" crossorigin="anonymous"></script>

    <!-- ogp -->
    <%= display_meta_tags(default_meta_tags) %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RLD05PXPQP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RLD05PXPQP');
    </script>
  </head>

  <body>
  
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
