<!DOCTYPE html>
<html>
  <head>
    <title>TravelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/8050981de6.js" crossorigin="anonymous"></script>

    <!-- ogp -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- <meta name="twitter:site" content="@saba7678pg" /> 投稿時に表示するX ID-->
    <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:description"
      content="<%= content_for?(:description) ? yield(:description) : 'Travel_appの説明' %>" />
    <meta property="og:image"
      content="<%= content_for?(:image_url) ? yield(:image_url) : full_url('/assets/images/kanagawaken.png') %>" />
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
